# Node
node_modules/
*.log
*.tgz
npm-debug.log*
pnpm-debug.log*

# Next.js
.next/
dist/
out/

# Prisma
prisma/cockroach-*
cockroach-*/
prisma/generated/
generated/

# Env and secrets
.env*
*.key
*.pem

# OS-specific
.DS_Store
Thumbs.db

# Editor + swap files
*.swp
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

