# Node
node_modules/
*.log
*.tgz
npm-debug.log*
pnpm-debug.log*

# pnpm + corepack caches
.pnpm-store/
.cache/
.local/

# VS Code devcontainer state
.devcontainer/.last-deps-hash

# Next.js
.next/
dist/
out/

# Prisma
prisma/cockroach-*
cockroach-*/
prisma/generated/
generated/

# Env and secrets
.env*
!.env.example
*.key
*.pem

# OS-specific
.DS_Store
Thumbs.db

# Editor + swap files
*.swp
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
