node-linker=hoisted
registry=https://registry.npmjs.org/
always-auth=false
fetch-retries=5
fetch-retry-factor=2
fetch-retry-maxtimeout=120000
fetch-retry-mintimeout=10000
public-hoist-pattern[]=@base-org/*
public-hoist-pattern[]=@metamask/*
public-hoist-pattern[]=@safe-global/*
public-hoist-pattern[]=@walletconnect/*
