@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
}

body.dark {
  --background: 10, 10, 10;
  --foreground: 237, 237, 237;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-color: var(--background-light);
  color: var(--foreground-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}

